
body {
	    background: #D7F6FF;
	    font-family: SansSerif;
	    line-height: 1.4em;
			opacity: 0.9;
	}

	* {
	    box-sizing: inherit;
	}

	.box.main-container {
	    padding-top: 100px;
	    margin-right: 2rem;
	    margin-left: 2rem;
	}

	.box.grid {
	    margin: -1rem;
	    display: flex;
	    padding: 0;
	}

	.box.grid > [class*="name"].column {
	    width: 25%;
			box-sizing:border-box;
	}

	.column.complex {
	    width: 37.5%;
	    display: inline-block;
	   box-sizing: border-box;

	}

	.box.label {
	    display: inline-block;
	    background-color: #D7F6FF;
	    padding: .4rem .7rem;
	    margin: .14em;
	    border-radius: .3rem;
	    line-height: 1;
	}

 .box.bought-items > .label{
	 text-decoration: line-through;
 }

	.box.mini.label {
	    font-size: .7rem;
	}

	.box.round.label {
	    min-width: 1em;
	    padding: .5em !important;
	    line-height: 1em;
	    text-align: center;
	    border-radius: 500rem;
	}

	.box.yellow.label {
	    background-color: #F8C471;
	    font-weight: 700;
	    color: white;
	}

	.box.grid > .column {
	    display: inline-block;
	    position: relative;
	    padding-top: 1rem;
	    padding-bottom: 1rem;
	    padding-left: 1rem;
	    padding-right: 1rem;
	}

	.box.segment {
	    padding: 1em;
	    font-size: 1rem;
	    background: white;
	}

	.state.not-bought, .state.already-bought {
	    width: 100%;
	    height: 100%;
	    padding: 0;
	}

	.box.items {
	    padding-bottom: 1rem;
			padding-top: 1rem;
	}

	.box.segments {
	  	border: solid 1px #c4e3ec;
		  background-color: white;
	}

	.box.segments > .segment {
	    margin: 0;
	    border: 0;
	    border-top: 1px solid;
	    border-color: #D7F6FF;
	    width: auto;
	}

	.box.add {
	    background: white;
	    font-family: sans-serif;
	    display: flex;
	    flex: auto;
	    margin: 0;
	    font-size: 1rem;
	    padding: 0;
	}

	.box.add input {
	    margin: 0;
	    flex: auto;
	    width: 60%;
	    padding-left: .8em;
	}

	.box.add > .button {
	    display: flex;
	    flex: auto;
	    margin: 0;
	}

	.items.amount-buttons, .items.last-buttons {
	    padding-top: .5rem;
	    padding-bottom: 0rem;
	}

	.box.button.add-button {
	    display: inline-block;
	    min-height: 1em;
	    background-color: #3192EA;
	    color: white;
	    border: none;
	    font-size: 1em;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	}

	.box.button.add-button:hover {
	    background-color: #1b78cc;
	}

	.box.button.add-button:active {
	    background-color: #1b5eae;
	}
	.amount-buttons {
    text-align: center;
  }

	.box.button {
	    padding: .8em 1.1em;
	    margin: 0;
	    min-height: 1em;
	    line-height: 1em;
	    font-weight: 600;
			border: none;
      border-radius: .3rem;
      transition: all .35s ease;
      cursor: pointer;
      position: relative;
			outline: none;
	}

	.box.mini.button {
	    font-size: .7rem;
	}

	.box.mini.buy-button, .box.mini.unbuy-button{
	    background-color: #D7F6FF;
			display: inline-block;
	}
	.box.mini.buy-button:hover, .box.mini.unbuy-button:hover {
    background-color: #c1e5f8;
  }

.box.mini.buy-button:active, .box.mini.unbuy-button:active {
    background-color: #aed2e5;
  }

	.box.round.button {
	    border-radius: 10em;
	    border: 0;
			color: white;
      font-weight: 800;
	}

	.box.mini.red.button {
	    background-color: #DB2828;
			color: white;
      font-weight: 800;
	}

	.box.mini.red.button:hover {
    background-color: #B12828;
  }

	.box.mini.red.button:active {
    background-color: #b12828;
  }

	.box.mini.green.button {
	    background-color: #21BA45;
	}

	.box.mini.green.button:hover {
	    background-color: #219b38;
	}

	.box.mini.green.button:active {
    background-color: #22993a;
  }

	.box.mini.red.button.disabled {
    opacity: 0.45;
  }

  .box.mini.red.button.disabled:hover {
    background-color: #DB2828;
    cursor: not-allowed;
  }

  .box.mini.red.button.disabled:hover::after {
    display: none !important;
  }

	.last-buttons {
	    text-align: right !important;
	    padding-top: .5rem;
	    padding-bottom: 0;
	}

	.column.one {
		box-sizing: border-box;
	  display: inline-block;
	  width: 65%;
	  padding: 1rem;
	  float: left;
	}

	.column.two {
		box-sizing: border-box;
    display: inline-block;
    width: 35%;
    padding: 1rem;
    float: right;
	}

	.box.grid > * {
	    padding-left: 100px;
	    padding-right: 1rem;
	}

	h3 {
	    margin: 0;
	}
	.box.label.made-by {
	    width: auto;
	    height: auto;
	    background-color: #318de2;
	    color: white;
	    position: fixed;
	    left: 3rem;
	    bottom: -47px;
	    border-bottom-left-radius: 0;
	    border-bottom-right-radius: 0;
	    padding: 5px;
	    padding-bottom: 7px;
	    transition: all 1s ease;
	}

	.box.label.made-by:hover {
	    bottom: -2px;
	    background-color: #4343c7;
	}

	.signature {
	    display: block;
	    font-size: .9em;
	}

	.signature:first-child {
	    padding: 10px 3px;
	    padding-top: 7px;
	    padding-bottom: 18px;
	    text-align: center;
	    font-weight: 900;
	    font-size: 1.5em;
	}

	.signature:last-child {
	    padding-top: 3px;
	    font-size: 1.1em;
	    font-weight: 200;
	}

	.button::after {
	    position: absolute;
	    bottom: 106%;
	    left: 0;
	    right: 0;
	    margin: auto;
	    background: #4343c7;
	    opacity: 0.93;
	    border-radius: 10px;
	    color: white;
	    padding: 10px 12px;
	    line-height: 10px;
	    font-size: 12px;
	    font-weight: 200;
	    transition: all .2s ease-in-out;
	    content: attr(data-tooltip);
	    width: 40px;
	    transform: scale(0, 0);
	}

	.button:hover::after {
	    display: inline-block;
	    transform: scale(1, 1);
	}

	.state.not-bought::after {
	    position: absolute;
	    bottom: 106%;
	    left: 0;
	    right: 0;
	    margin: auto;
	    background: #4343c7;
	    opacity: 0.93;
	    border-radius: 10px;
	    color: white;
	    padding: 10px 12px;
	    line-height: 10px;
	    font-size: 12px;
	    font-weight: 200;
	    transition: all .2s ease-in-out;
	    content: attr(data-tooltip);
	    /*width: 30px;*/
	    transform: scale(0, 0);
	}

	.state.not-bought:hover::after {
	    display: inline-block;
	    transform: scale(1, 1);
	}

	.state.already-bought {
	    text-decoration: line-through;
	}

	.name-edit, .already-bought, .button.unbuy-button {
	    display: none;
	}

	.hidden > * {
	    display: none;
	}

	.hidden > .label.left {
	    display: none;
	}

	.name-edit {
	    box-sizing: border-box;
	    width: 100%;
	    display: inline-block;
	}

	.hidden{
	    display: none!important;
	}

	@media print {
	    .box.label.made-by {
	        background-color: white;
	        color: black;
	        border: 1px solid black;
	        position: fixed;
	        left: 3rem;
	        bottom: -2px;
	    }
			.signature.buy-list {
	        display: none;
	    }

	    .box.segments > .segment {
	        border-color: black;
	    }

	    .box.segments, .box.button, .box.button.add-button, .box.round.button, .box.label, .box.round.label, .box.mini.red.button {
	        border: 1px solid black;
	        color: black;
	    }

	    .box.button::after {
	        display: none;
	    }

	    .box.main-container {
	        width: 99%;
	        box-sizing: border-box;
	    }
	}

	@media (max-width: 700px) {
		.column.one {
        float: none;
        width: 100%;
        min-width: 470px;
    }

    .column.two {
        float: none;
        width: 100%;
        min-width: 470px;
    }

	    .box.main-container {
	        padding-top: 20px;
	    }
	}
